<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
</head>

<body>
<div style="display: inline-block; vertical-align: top">
    <form method="post" action="#">
        <div class="card border-dark mb-3" style="width: 43rem; margin: 2%">
            <div class="card-header">Личные данные</div>
            <div class="card-body text-dark" style="max-height: 40rem">

                <div style="display: inline-block; margin-right: 5rem">

                    <h5 class="card-title">ФИО</h5>
                    <div class="form-group" style="text-align: left; max-width: 10rem">
                        <label class="card-text">
                            <strong>Фамилия</strong>
                            <input type="text" name="lastname" class="form-control" value="Блинов" required/>
                        </label>

                        <label class="card-text">
                            <strong>Имя</strong>
                            <input type="text" name="firstname" class="form-control" value="Ренат" required/>
                        </label>
                        <label class="card-text">
                            <strong>Отчество</strong>
                            <input type="text" name="patronomyc" class="form-control" value="Константинович" required/>
                        </label>
                    </div>

                    <div style="margin-top: 25px"></div>


                    <h5 class="card-title">Возраст</h5>
                    <p class="card-text">
                        <label>
                            <input class="form-control" type="text" name="age" value="20" style="width: 3rem" required/>
                        </label> лет
                    </p>

                </div>

                <div style="display: inline-block">

                    <h5 class="card-title">Контакты</h5>
                    <p class="card-text"><strong>Телефон: </strong>
                        <label>
                            <input class="form-control" type="text" name="phoneNumber" value="+79997892343" required/>
                        </label>
                    </p>
                    <p class="card-text"><strong>Email: </strong>
                        <label>
                            <input class="form-control" type="email" name="phoneNumber" value="aaa@a.ru" required/>
                        </label>
                    </p>

                    <div style="margin-top: 25px"></div>

                    <h5 class="card-title">О себе</h5>
                    <label>
                <textarea class="form-control" name="aboutMe" id="exampleFormControlTextarea1" rows="3" cols="50"
                          style="resize: none"
                          required>Студент, 20 лет опыта разработки програмного обеспечения, люблю печенье</textarea>
                    </label>

                </div>
                <div style="display: block; float:right; margin: 1%">
                    <input type="submit" class="btn btn-primary" value="Изменить"/>
                </div>

            </div>
        </div>
    </form>


    <div class="card border-dark mb-3" style="width: 43rem; margin: 2%">
        <div class="card-header">Компетенции</div>
        <div class="card-body text-dark" style="max-height: 40rem">

            <div class="form-group">
                <form method="post" action="#">
                    <label for="competenceSelect">Выберите компетенцию из списка</label>
                    <select class="form-control" id="competenceSelect">
                        <option>Java</option>
                        <!--                    ajax-->
                        <option>SQL</option>
                        <option>Lombok</option>
                        <option>Spring MVC</option>
                        <option>Spring Boot</option>
                    </select>

                    <div style="margin-top: 1rem; ">
                        <input type="submit" class="btn btn-primary" value="Добавить">
                    </div>
                </form>

                <div class="dropdown-divider"></div>

                <div class="competences" style="display: flex; flex-wrap:wrap">
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Java</button>
                    <!--                ajax-->
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>JavaSE</button>
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Java2EE</button>
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Java Collections</button>
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Java Stream API</button>
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Java IO/NIO</button>
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Java Exceptions</button>
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Spring MVC</button>
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Spring Boot</button>
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Spring Security</button>
                    <button type="button" class="btn btn-info" style="margin: 5px" disabled>Spring Framework</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="display: inline-block; margin-left: 4%">
    <form method="post" action="#">
        <div class="card border-dark mb-3" style="min-width: 36rem; margin: 2%">
            <div class="card-header">Образование</div>
            <div class="card-body text-dark" style="max-height: 40rem">

                <div class="form-group">
                    <label for="educationSelect">Выберите ваш уровень образования</label>
                    <select class="form-control" id="educationSelect">
                        <option value="Бакалавр неоконченное">Бакалавр неоконченное</option>
                        <!--                    ajax-->
                        <option value="Бакалавр">Бакалавр</option>
                        <option value="Магистр неоконченное">Магистр неоконченное</option>
                        <option value="Магистр">Магистр</option>
                        <option value="Аспирант неоконченное">Аспирант неоконченное</option>
                        <option value="Аспирант">Аспирант</option>
                    </select>

                    <div style="margin-top: 1rem; float: right">
                        <input type="submit" class="btn btn-primary" value="Изменить">
                    </div>
                </div>
            </div>
        </div>
    </form>


    <form method="post" action="#">
        <div class="card border-dark mb-3" style="min-width: 36rem; margin: 2%">
            <div class="card-header">Знание языков</div>
            <div class="card-body text-dark" style="max-height: 40rem">

                <div class="form-group">
                    <label for="languageSelect">Выберите язык из списка</label>
                    <select class="form-control" id="languageSelect">
                        <option>Татарский</option>
                        <!--                    ajax-->
                        <option>Китайский</option>
                        <option>Русский</option>
                        <option>Испанский</option>
                        <option>Английский</option>
                    </select>

                    <div style="margin: 1rem"></div>

                    <label for="exampleFormControlSelect2">Выберите уровень владения</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option value="A1">A1</option>
                        <!--                    ajax-->
                        <option value="A2">A2</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="C1">C1</option>
                        <option value="C2">C2</option>
                    </select>

                    <div style="margin-top: 1rem; float: right">
                        <input type="submit" class="btn btn-primary" value="Изменить">
                    </div>
                </div>

            </div>
        </div>
    </form>


    <form>
        <div class="card border-dark mb-3" style="min-width: 36rem; margin: 2%">
            <div class="card-header">Сертификаты</div>
            <div class="card-body text-dark" style="max-height: 40rem">

                <div style="height: 4rem; overflow-y: scroll; border: 1px grey solid; border-radius: 3px">
                    <h5 class="card-title" style="margin-left: 15px">ITIS</h5>
                    <p class="card-text" style="margin-left: 15px">2019</p>
                    <!--ajax-->
                    <div class="dropdown-divider"></div>

                    <h5 class="card-title" style="margin-left: 15px">KFU</h5>
                    <p class="card-text" style="margin-left: 15px">2018</p>

                    <div class="dropdown-divider"></div>

                    <h5 class="card-title" style="margin-left: 15px">Mera</h5>
                    <p class="card-text" style="margin-left: 15px">2020</p>

                    <div class="dropdown-divider"></div>

                    <h5 class="card-title" style="margin-left: 15px">Simbirsoft</h5>
                    <p class="card-text" style="margin-left: 15px">2021</p>
                </div>

                <div class="form-group">

                    <label for="nameInput">Название сертификата</label>
                    <input class="form-control" type="text" id="nameInput" name="name" required/>

                    <label for="yearSelect">Выберите год получения</label>
                    <select class="form-control" id="yearSelect">
                        <option value="2020">2020</option>
                        <!--                    ajax-->
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>

                    <div style="margin-top: 1rem; float: right">
                        <input type="submit" class="btn btn-primary" value="Добавить">
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
</body>

</html>

</form>
<h2> Add language form</h2>
<form id="x" action="/addLanguage">
    <#--        <input type="hidden" name="id" value="null"><br>-->
    <p>Language: </p>
    <input type="text" name="language"/>
    <p>Level: </p>
    <@enumSelect "level" myEnum/><br>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <button type="button" onclick="addLanguage()" value="Submit"></button>
</form>